body{
  background-color: hsl(217, 54%, 11%);
}
#root{
  height: 90vh;
  color: #ede7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

input{
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.5;
  padding: 5px 10px;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  height: 25px;
  outline: none;
  transition: 0.3s;
}
input:hover {
    border-color: #ccc;
}
input:focus{
    border-color: #9147ff;
}
.button{
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 39px;
  background-color: #9147ff;
  color: #fff;
  padding: 0 20px;
  margin: 10px;
  transition: 0.3s;
}
.button:hover {
    background-color: #772ce8;
}

.coinsDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.homeRegis{
  text-decoration: none;
  color: #9147ff;
}